*{
	margin: 0;
	padding: 0;
	font-family: century gothic;
}
body{
	background-image: url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;	

}
ul{
	float: right;
	list-style-type: none;
	margin-top: 20px;

}
ul li{

	display: inline-block;

}

ul li a{
	background-color:#b2beb5;
	text-decoration: none;
	color:white;
	padding: 5px 20px;
	border: 1px solid white;
	transition: 0.6s ease;
}
ul li a:hover {
	background-color: white;
	color: orange;


}
ul li.active a{
	background-color: white;
	color: black;

}
.main{
	max-width: 1200px;
	margin: auto;

}
form{

	background-size: 1000px 200px;
	position:left;
	border:1px;
	margin:20px 15px;
}
.first{
	width:150px;
	height:cover;
}
main legend{
	color:white;
	position: center;
}


form input[type=text]{
	color:black;
	background-color: white;
}
form input[type=button]{
	background-color: #b2beb5;
	color:white;
}
input[type=button]:hover
		{
			background-color:white;
			color:#4CAF50;
		}

		 fieldset{
	width:175px;
	height: 250px;
}

fieldset{
	display: inline-block;
    padding:50px;
}
legend{
	color:#4CAF50;
	position: center;
}
.second{
	color: white;
	font-size: 20px;
	transition: 0.6s ease;
	margin-left: 15px;
	
}
.fourth{
	color: white;
	font-size: 20px;
	transition: 0.6s ease;
}
.third{
	color: white;
	font-size: 20px;
	transition: 0.6s ease;
}
.second:hover{
	opacity: 1.0;
	color: orange;
	background-color: #243238;

	
}

.fourth:hover{
	opacity: 1.0;
	color: orange;
	background-color: #243238;

	
}

.third:hover{
	opacity: 1.0;
	color: orange;
	background-color: #243238;

	
}